@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    background: url('https://e0.pxfuel.com/wallpapers/199/570/desktop-wallpaper-skulls-video-games-death-artwork-black-background-dark-side.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    top: 20px;
}

.home-content {
    max-width: 700px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: showRight 1s ease forwards;
    animation-delay: 0.5s;
}

.home-content h2 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background-color: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    content: '';
    background-color: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: black;
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 2px solid #00abf0;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00abf0;
    z-index: -1;
    transition: 0.5s;
}

.home-sci a:hover::before {
    width: 100%;
}

/* ==== Pendidikan ==== */
.heading-education {
    font-size: 4rem;
    text-align: center;
    margin: 1rem 0;
}

.education {
    padding: 100px;
    background: #131313;
}

.education h2 {
    margin-bottom: 5rem;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #00ffee;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: #00ffee;
    box-shadow: 0 0 25px #00ffee, 0 0 50px #00ffee;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: #080808;
    border: 3px solid #00ffee;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px #00ffee;
    cursor: pointer;
    transition: 0.3 ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #00ffee;
}

.timeline-content h3 {
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}


/* Skill */
.services {
    background: black;
    color: black;
    padding: 5rem 10%;
    text-align: center;    
}

.services h2 {
    margin-bottom: 5rem;
    color: white;
    font-size: 4rem;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 2.5rem;
}

.service-box {
    background-color: #00ffee;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.service-box:hover {
    background-color: white;
    color:black;
    border: 5px solid #00ffee;
    transform: scale(1.03);
}

.service-box .service-info {
    display:flex;
    flex-direction:column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

.service-info h4 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #131313;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #00ffee;

}

.footer .social a {
    font-size: 25px;
    color: #00ffee;
    border: 2px solid #00ffee;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover {
    box-shadow: 0 0 50px #00ffee;
    background-color: white;
    color: black;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a {
    color: #00ffee
}

.footer ul li a:hover {
 border-bottom: 3px solid #00ffee;
 color: white;
}




/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #00ffee;
}

::-webkit-scrollbar-track {
    background-color: #080808;
    width: 50px;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

/* Media */

@media only screen and (max-width: 1399px) {
    .home-imgHover {
        position: absolute;
        top: 0;
        right: 0px;
        width: 0px;
        height: 100%;
        background-color: transparent;
        /* border: 2px solid red; */
        transition: 3s;
    }

    .home-imgHover:hover {
        background-color: black;
        opacity: 0.6;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1999px) {
    .home-imgHover {
        position: absolute;
        top: 0;
        right: 0px;
        width: 680px;
        height: 100%;
        background-color: transparent;
        /* border: 2px solid red; */
        transition: 3s;
        animation: manipActiveHover 0.3s forwards;
        animation-delay: 3s;
        pointer-events: none;
    }

    .home-imgHover:hover {
        background-color: black;
        opacity: 0.6;
    }

    .home-imgHover::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        animation: showRight 0.5s ease forwards;
        animation-delay: 2.5s;
        z-index: 100;
    }
}

@media only screen and (min-width: 2000px) {
    .home-imgHover {
        position: absolute;
        top: 0;
        right: 0px;
        width: 50%;
        height: 100%;
        background-color: transparent;
        /* border: 2px solid red; */
        transition: 3s;
    }

    .home-imgHover:hover {
        background-color: black;
        opacity: 0.6;
    }
}
